* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.fade-in {
    opacity: 0;

    transform: translateY(40px);

    transition:
        opacity 0.8s ease,
        transform 0.8s ease;
}

.fade-in.show {
    opacity: 1;

    transform: translateY(0);
}

html,
body {
    min-height: 100%;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    /* font-family: "Oswald", "Roboto"; */
    font-family: "Roboto", sans-serif;
    line-height: 1.7;
    /* background: #e8d8ca; */
    /* background: linear-gradient(#5e763f, #e8d8ca); */
    /* background: radial-gradient(#5e763f, #e8d8ca); */
    background: radial-gradient(#e8d8ca, #5e763f);
    /* background-image: url("/imgs/gradient-4th.png");
  
    background-position: center;
  
    background-repeat: no-repeat;
  
    background-size: cover; */
    /* background: radial-gradient(#e8d8ca, #5e763f, #202b12); */
    color: #202b12;
}

.logo-img {
    width: 150px;
    height: auto;

    display: block;
}

nav {
    display:flex;
    justify-content: center;

    gap:1rem;

    padding:1rem 2rem;
    font-family: "Oswald", sans-serif;

    margin-top:2rem;
    margin-bottom: 2rem;

    background:rgba(255,255,255,.75);

    backdrop-filter: blur(8px);

    border-radius:999px;

    box-shadow:
        0 4px 15px rgba(0,0,0,.08);

    width: fit-content;
    text-align:center;

    margin-left: auto;
    margin-right: auto;
}

nav a {
    padding:.5rem 1rem;
    color: #202b12;

    font-size: 1.2rem;
    justify-content: center;

    transition:.2s;

    display: inline-block;
    width: auto;
}

/* nav a.active {
    background: #5e763f;
    color: white;
} */

nav a:hover {
    background:#5e763f;
    border-radius: 999px;

    color:white;
}

#hero {
    min-height: 55vh;

    background:
        rgba(255,255,255,.35);

    backdrop-filter: blur(5px);

    border-radius: 0 0 40px 40px;

    margin-bottom: 3rem;
}

.hero-title {
    display: flex;

    align-items: center;
    justify-content: left;

    gap: 10rem;
    padding-bottom: 1rem;
}

#hero h1 {
    font-size: 4rem;
    color: #202b12;
    font-family: "Oswald", sans-serif;
}

section {
    max-width: 1000px;
    margin: auto;
    padding: 4rem 2rem;
    transition:.3s;
}

section h2 {
    margin-bottom: 1rem;
    color: #5e763f;
    font-family: "Oswald", sans-serif;

}

section ul {
    column-count: 2;
    column-gap: 50px;
    margin-bottom: 15px;
}

#process,
#benefits,
#who,
#hosts,
#registration,
#format {
    /* background: white; */
    background: linear-gradient(white, #e8d8ca);
    border-radius: 24px;
    font-size: 1.2rem;

    margin-top: 2rem;
    margin-bottom: 2rem;

    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}

#registration p1 {
    font-size: 1.2rem;
}

#registration p2 {
    font-size: 1.3rem;
    margin-bottom: 2rem;
}

#process:hover,
#benefits:hover,
#who:hover,
#hosts:hover,
#registration:hover,
#format:hover {
    transform: translateY(-2px);
}

#about-intro,
#actual-about,
#additional-info {
    background: rgba(255,255,255,.35);
    margin-bottom: 2rem;

    border-radius: 24px;

    backdrop-filter: blur(4px);
    text-align: center;
}

#about-intro p,
#actual-about p,
#additional-info p {
    max-width:800px;

    margin:auto;


    font-size: 1.5rem;
    padding-bottom: 1rem;
}

#about-intro ul,
#actual-about ul {
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap:1rem;

    list-style:none;
}

#about-intro li,
#actual-about li {
    min-width:250px;
    font-size: 1.5rem;
}

#benefits ul,
#process ul,
#who ul {
    display:grid;

    grid-template-columns:
        repeat(center,minmax(280px,1fr));

    gap:1rem;

    list-style:none;
}

#benefits li,
#process li,
#who li {
    background:rgba(255,255,255,.7);
    text-align: center;
    font-size: 1.5rem;

    padding:1rem;

    border-radius:16px;
}

#who p {
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

section li {
    margin-bottom:.7rem;
    font-size: 1.2rem;
    margin-top: .7rem
}

.format-grid {
    display:grid;

    grid-template-columns:
        repeat(auto-fit,minmax(250px,1fr));

    gap:1rem;
    padding-bottom: 1.2rem;
}

.format-item {
    background:white;

    border-radius:20px;

    padding:1.5rem;

    text-align:center;
    font-size: 1.2rem;

    box-shadow:
        0 4px 10px rgba(0,0,0,.06);
}

.format-item h3 {
    font-size: 2rem;

    margin-bottom: .5rem;
    margin-top: .5rem;
}

.timeline {
    list-style: none;

    display: grid;

    grid-template-columns:
        repeat(auto-fit, minmax(220px, 1fr));

    gap: 1rem;
    font-size: 1.2rem;

    margin-top: 2rem;
}

.timeline li {
    /* background: white; */
    background: white;

    padding: 1rem;

    border-left: 6px solid #5e763f;

    border-radius: 12px;

    box-shadow: 0 2px 8px rgba(0,0,0,0.08);

    transition: transform .2s;
}

.timeline li:hover {
    transform: translateY(-5px);
}

.host-header {

    display: flex;

    justify-content: space-between;

    align-items: center;

    margin-bottom: 1rem;

    gap: 1rem;
}

.host-link {

    display: flex;

    justify-content: center;

    align-items: center;

    width: 48px;

    height: 48px;

    background: #5e763f;

    border-radius: 12px;

    transition: .2s;

    flex-shrink: 0;
}

.host-link:hover {

    background: #202b12;

    transform: scale(1.05);
}

.host-header h3 {

    margin: 0;

    color: #5e763f;

    font-family: "Oswald", sans-serif;
}

.host-link img {

    width: 24px;

    height: 24px;

    object-fit: contain;
}

.hosts-grid {
    display: grid;

    grid-template-columns:
        repeat(auto-fit, minmax(500px, 1fr));

    gap: 2rem;
}

.host-card {

    display: flex;

    align-items: center;

    gap: 1.5rem;

    background: white;

    padding: 1rem;

    border-radius: 24px;

    font-size: 1.2rem;

    text-align: left;
}

.host-info {

    flex: 1;
}

.host-header {

    display: flex;

    justify-content: space-between;

    align-items: center;

    margin-bottom: .75rem;
}

.pfp-img {

    width: 200px;
    height: 200px;

    transition: transform .3s ease;

    flex-shrink: 0;

    object-fit: cover;

    border-radius: 20px;

    border: 5px solid white;

    box-shadow:
        0 0 0 4px #5e763f,
        0 6px 50px rgba(0,0,0,.15);
}

.host-card:hover .pfp-img {
    transform: scale(1.03);
}

/* 
.pfp-img {
    width: 200px;
    height: 200px;

    object-fit: cover;

    border-radius: 20px;

    border: 5px solid #ffffff;

    box-shadow:
        0 0 0 4px #5e763f,
        0 6px 50px rgba(0,0,0,.15);

    display: block;

    margin: 0 auto 1rem auto;
} */

.register-btn {
    display: inline-block;

    margin-top: 1rem;

    padding: 1rem 5rem;

    background: #5e763f;
    color: white;

    text-decoration: none;

    border-radius: 999px;

    font-weight: bold;

    transition: .2s;

}

.register-btn:hover {
    background: #202b12;
}

.call-btn {
    display: inline-block;

    margin-top: 1rem;

    padding: 1rem 2rem;

    background: #5e763f;
    color: white;

    text-decoration: none;

    border-radius: 999px;

    font-weight: bold;

    transition: .2s;

}

.call-btn:hover {
    background: #202b12;
}

.register-btn,
.call-btn {
    transition:
        transform .2s,
        background-color .2s;
}

.register-btn:hover,
.call-btn:hover {

    transform: translateY(-3px);
}

.button-container {
    display: flex;

    justify-content: center;

    gap: 1rem;

    flex-wrap: wrap;

    margin-top: 1rem;
}

.hero-subtitle {
    font-size: 2rem;
    color: #5e763f;
}

.hero-description {
    font-size: 1.7rem;
    color: black;
}

#additional-info {
    backdrop-filter: blur(20px);
}

footer {
    margin-top: 2rem;

    padding: 3rem 2rem;

    background: #202b12;

    color: white;

    text-align: center;
    border-radius: 20px;

}

.footer-nav {
    justify-content: center;
}

.socials {

    display: flex;
    justify-content: center;

    align-items: center;

    flex-direction: row;

    gap: 0.5rem;
    padding-bottom: 2rem;
}

.social-btn {
    display: inline-block;

    padding: .6rem 1.2rem;

    background: rgba(255,255,255,.1);

    border-radius: 999px;

    color: white;

    text-decoration: none;

    font-weight: bold;

    cursor: pointer;

    transition: .2s;
}

.social-btn:hover {
    color: #5e763f;

    background: rgba(255,255,255,.15);
}

.social-dropdown {
    position: relative;
}

.social-dropdown summary {
    list-style: none;
}

.social-dropdown summary::-webkit-details-marker {
    display: none;
}

.dropdown-links {
    position: absolute;

    bottom: 120%;

    left: 50%;

    transform: translateX(-50%);

    min-width: 180px;

    background: white;

    border-radius: 12px;

    overflow: hidden;

    box-shadow:
        0 4px 15px rgba(0,0,0,.15);

    z-index: 100;
}

.dropdown-links a {
    display: block;

    padding: .8rem 1rem;

    color: #202b12;

    text-decoration: none;

    transition: .2s;
}

.dropdown-links a:hover {
    background: #5e763f;
}

.footer-nav a {
    color:white;
}

/* mobile stuff */
/* 
@media (max-width: 768px) {

    nav {
        display: grid;

        grid-template-columns: 1fr 1fr;
        border-radius: 20px;

        gap: .5rem;

        width: 90%;
    }

}

@media (max-width: 768px) {

    nav a {
    color: #202b12;

    border-radius: 20px;
    font-size: 1rem;

    transition:.2s;
    }

}

@media (max-width: 768px) {

    nav a:hover {
    background:#5e763f;
    border-radius: 20px;
    font-size: 1rem;

    color:white;
    }

}


@media (max-width: 768px) {

    .hosts-grid {
    display: grid;

    grid-template-columns:
        repeat(auto-fit, minmax(300px, 1fr));

    gap: 2rem;
    }
}

@media (max-width: 768px) {

    #benefits ul,
    #process ul,
    #who ul,
    #about-intro ul,
    #actual-about ul {

        grid-template-columns: 1fr;
    }

}

@media (max-width: 768px) {

    #benefits li,
    #process li,
    #who li,
    .host-card,
    #about-intro li,
    #actual-about li,
    #additional-info li
    .format-item {

        font-size: 1.2rem;
    }

}


@media (max-width: 768px) {

    .hero-subtitle {
        font-size: 1.3rem;
    }

    .hero-description {
        font-size: 1.1rem;
    }

    #about-intro p,
    #actual-about p,
    #additional-info p {
        font-size: 1.1rem;
    }

}

@media (max-width: 768px) {

    section {
        padding: 2rem 1rem;
    }

}

@media (max-width: 768px) {

    #hero h1 {
        font-size: 2.5rem;
    }

}

@media (max-width: 768px) {

    .register-btn,
    .call-btn {

        width: 100%;

        max-width: 260px;

        margin: 0;
        font-size: 1rem;

        border-radius: 100px;

        text-align: center;

        padding: 1rem;
    }

} */

@media (max-width:768px) {

    /* body {
    font-family: "Roboto", sans-serif;
    line-height: 1.7;

    background-image: url("/imgs/gradient-4th.png");
  
    background-position: center;
  
    background-repeat: no-repeat;
  
    background-size: cover;
    } */

    nav {
        display:grid;
        font-family: "Oswald", sans-serif;
        grid-template-columns:1fr 1fr;
        gap:.5rem;
        width:90%;
        border-radius:20px;
    }

    nav a {
        font-size:1rem;
        border-radius:20px;
    }

    nav a:hover {
    background:#5e763f;
    border-radius: 999px;

    color:white;
    }

    .hosts-grid {
        grid-template-columns:1fr;
    }

    .host-card {

        flex-direction: column;

        text-align: center;
    }

    .host-header {

        flex-direction: column;

        gap: .5rem;
    }

    .pfp-img {

        width: 150px;
        height: 150px;
    }

    #benefits ul,
    #process ul,
    #who ul,
    #about-intro ul,
    #actual-about ul {
        grid-template-columns:1fr;
    }

    #benefits li,
    #process li,
    #who li {
        background:rgba(255,255,255,.7);
        text-align: center;
        font-size: 1.2rem;

        padding:1rem;

        border-radius:16px;
    }

    section {
        padding:2rem 1rem;
    }

    .hero-title {
        flex-direction: column;
        gap: 0rem;
        padding-bottom: 0rem;
    }

    #hero h1 {
        font-size:2.5rem;
    }

    .hero-subtitle {
        font-size:1.3rem;
    }

    .hero-description {
        font-size:1.1rem;
    }

    .register-btn,
    .call-btn {
        width: 100%;

        max-width: 260px;

        margin: 0;
        font-size: 1rem;

        border-radius: 100px;

        text-align: center;

        padding: 1rem;
    }
}